body{
    font-family: sans-serif;
    /* line-height: 0.8; */
    max-width: 100vw;
    min-height: 100vh;
    /* overflow: hidden; */
}
*{
    margin: 0;
    padding: 0;
}
.main{
    max-width: 99%;
    margin: auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   top: 10px;
   /* position: sticky; */


}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-links li{
    margin-right: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #232121;
}
.nav-links a:hover{
    /* color: #ccc; */
    font-weight: bold;
}

.menu-icon{
    display: none;
    font-size: 24px;
    color: #524e4e;
    cursor: pointer;
}
#menu-toggle{
display: none;
}
.hero-section{
    display: flex;
    align-items: center;
    margin: 0 auto;
    line-height: 0.9;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 89%;
    background-color: beige;
}
.lesson-heading{
    max-width: 800px;
}
.register{
    margin-top: 70px;
}
  .pc-image img{
    max-width: 500px;
    width:  100%;
}   
.black ,.green{
    font-size: 50px;
}
.green{
    color: rgb(65, 96, 18);
    margin-top: 20px;
}
.manage-your-heading{
    flex-direction: column;
    display: flex;
    line-height: 1;
    text-align: center;
    align-items: center;
    margin: 20px 10px;
}
.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.align-center{
    max-width: 200px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 10px;
    line-height: 1;
    border: 2px solid rgb(239, 232, 232);
}
.our-client-heading {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
}

.our-client-heading p {
 max-width: 390px;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    max-width: 80%;
    margin: 20px auto;
    gap: 50px;
    padding: 10px;
}

.another-hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px ;
    padding: 20px;
   flex-wrap: wrap;
   
}
.frame-img{
    width: 100%;
}
.child-another{
    max-width: 600px;
    line-height: 1.2;
}
.button2{
    margin-top: 20px;
}
.footer{
    display: flex;
    margin: 2px auto;
    justify-content: space-around;
    background-color: #524e4e;
    color: aliceblue;

}
.footer-info, .footer-links, .footer-subscribe {
    flex: 1;
    min-width: 200px;
    padding-top: 30px;

}

.footer-info img ,svg{
    margin: 20px 10px 0 15px;
}
.footer-info p{
    padding: 10px;
    margin-left: 10px;
}

.footer-links h3,
.footer-subscribe h3 {
    margin-bottom: 10px;
    font-weight: 900;

}

.footer-links p,
.footer-subscribe input {
    margin: 5px auto;
}

.footer-subscribe input {
    padding: 8px;
    width: 60%;
    border: none;
    border-radius: 5px;
}

@media (max-width:768px){
    .nav-links{
        display: none;
        flex-direction: column;
         position: absolute;
        top: 60px;
         left: 0; 
        background-color: beige;
        width: 100%;
        padding: 20px;
    }
    #menu-toggle:checked +.menu-icon +.nav-links{
        display: flex;
    }
    .nav-links li{
        margin-bottom: 20px;
    }
    .menu-icon{
        display: block;
    }
   
        .footer {
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 20px;
          /* margin-bottom: 20px; */
        }
      
        .footer-info,
        .footer-links,
        .footer-subscribe {
          min-width: 100%;
          margin: 10px 0;
        }
      
      
        .footer-subscribe input {
          width: 100%;
        }
      }
      
   
